<div class="aboutus">
    <div class="wrapper">
        <h2>Saznajte sve o nama!</h2>
        <img src="https://files.porsche.com/filestore/image/eastern-europe/none/importers-bosnia-xle/normal/f443089f-4d0e-11e7-bfe2-0019999cd470/porsche-normal.jpg"
            alt="">
        <!-- <div class="text-location">

            <div class="text"> -->
        <h5>Ko smo mi</h5>
        <p>AnidCars d.o.o. bavi se uvozom i prodajom rabljenih vozila iz Njemačke. Sva vozila posjeduju
            certifikat o proizvođaču i servisnu evidenciju. Pri kupovini vozila u Auto salonu AnidCars dobivate
            pismenu garanciju 6 mjeseci na motor i mjenjač, te doživotnu garanciju na porijeklo vozila i
            kilometre.</p>
        <h5>Historija auto kuce</h5>
        <p>Tvrtka je osnovana 2004. godine i u početku je djelovala na adresi Teskera b.b. u Ljubuškom. U 7.
            mjesecu 2007. godine preselili smo se na sadašnju adresu Mostarska vrata b.b. Iste godine dobili smo
            certifikat za sustav upravljanja kvalitetom prema EN ISO 9001:2015 što je dokaz kvalitete naših
            usluga. AnidCars je 2009. godine otvorio svoje podružnice u Crnoj Gori (Nikšić), te 2011 godine u
            Njemačkoj (Nürnberg). U 2013.godini otvorena je podružnica u Banja Luci, a u 2014. godini u
            Sarajevu. U ponudi Auto salona AnidCars je oko 500 vozila, a svaki tjedan nam dolazi pedesetak novih
            vozila.Dolazak vozila možete pratiti na našoj web stranici u dijelu "Vozila u dolasku". Na našoj
            stranici također možete pogledati sva vozila koja su trenutno u ponudi kao i sve podatke o njima.
            Ako odlučite osobno doći u naš salon, naše osoblje će Vam pri Vašoj posjeti biti na usluzi, pružiti
            Vam sve potrebne informacije i tako pomoći pri odabiru Vašeg vozila.</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4188.570334210146!2d18.34738812310416!3d43.8464849752423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c91482ed86ef%3A0x7f297b70c222b10a!2sPorsche%20Sarajevo!5e0!3m2!1sbs!2sba!4v1626545847174!5m2!1sbs!2sba"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <h5>Politika kvalitete</h5>
        <p>AS AnidCars utvrđuje ovu Politiku kvalitete radi osiguranja da će automobili koje isporučuje
            ispunjavati iskazane i realne zahtjeve korisnika kao i zahtjeve važećih zakona i propisa. Opći cilj
            AS AnidCars je da postane i ostane vodeće poduzeće na tržištu u pogledu uvoza i prodaje rabljenih
            vozila iz EU. Ravnatelj tvrtke AS AnidCars d.o.o. opredjeljuje se za sljedeću

            Politiku kvalitete:

            Usmjerenost na potrebe kupca i zadovoljstvo kupca izvršenim poslom su najvažnije vrijednosti prema
            kojima AS AnidCars mjeri i određuje svoju ukupnu uspješnost.
            Da bismo postizali, održavali i osnaživali te vrijednosti, trajno se obvezujemo:
            - zapošljavati stručno i ambiciozno osoblje koje će imati mogućnosti i obveze stalno se razvijati i
            usavršavati
            - pribavljati najsuvremenije informatičke i komunikacijske resurse te ostalu opremu, infrastrukturu
            i okruženje za ugodan rad
            - njegovati i razvijati partnerske odnose s dobavljačima
            - nuditi kupcima optimalna i cjelovita rješenja
            - realizirati rješenja koja u cijelosti podržavaju zahtjeve i potrebe naših kupaca
            - primjenjivati i poboljšavati djelotvornost sustava upravljanja kvalitetom temeljenog na zahtjevima
            međunarodne norme ISO 9001 i težiti nadilaženju razine tih zahtjeva
            - postavljati si ambiciozne, mjerljive i ostvarive ciljeve kvalitete.

            Svaki djelatnik tvrtke mora biti upoznat s politikom kvalitete, shvatiti je i prihvatiti kao trajno
            načelo u vlastitom djelovanju. Politika kvalitete izdaje se i kao samostalna dokumentirana
            informacija kojeg potpisuje ravnatelj tvrtke. Ova politika je okvir za uspostavljanje i nadzor nad
            realizacijom naših ciljeva upravljanja kvalitetom a uspostavljen i primijenjen sustav upravljanja
            kvalitetom prema zahtjevima normi ISO 9001:2015 jamstvo su postavljenih ciljeva.</p>
        <!-- </div> -->

        <!-- </div> -->
    </div>
</div>