<form class="form">
    <div class="form-group">
        <h4>Sign Up</h4>
    </div>
    <div class="form-group first-last-name">
        <div class="first-name">
            <!-- <label for="exampleInputEmail1">First Name</label> -->
            <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="user.firstName"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div class="last-name">
            <!-- <label for="exampleInputEmail1">Last Name</label> -->
            <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="user.lastName"
                [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    <div class="form-group">
        <!-- <label for="exampleInputEmail1">Email address</label> -->
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="user.email">
    </div>
    <div class="form-group">
        <!-- <label for="exampleInputEmail1">Email address</label> -->
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.username"
            [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <!-- <label for="exampleInputPassword1">Password</label> -->
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password"
            [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <!-- <label for="exampleInputEmail1">Email address</label> -->
        <input type="text" class="form-control" placeholder="Address" [(ngModel)]="user.address"
            [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="saveUser()">Sign Up</button>
    <div class="regist-div">
        <p>Already have an account? <a (click)="login()" routerLink="/login">Log In</a></p>
    </div>
</form>