/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
}


span.sr-only {
    display: none !important;
    position: absolute;
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');





.item img {
    width: 100%;
    height: auto
}

.carousel {
    position: relative;
}

ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 200px !important;
}

.carousel .carousel-indicators li {
    width: 20% !important;
    height: 180px !important;
    overflow-y: hidden;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 20%;
    margin: 0;
    border-radius: 0 !important;
    border: 0 !important;
    background: transparent;
    margin-top: 10px;
}

.carousel,
.carousel-multi-item,
.carousel-thumbnails {
    min-height: 950px;
}

ol.carousel-indicators li img {
    overflow-y: hidden !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 1000px) {

    .carousel,
    .carousel-multi-item,
    .carousel-thumbnails {
        min-height: fit-content;
        margin-bottom: 100px;
    }

    .first-small-carousel-image {}

    ol.carousel-indicators li,
    ol.carousel-indicators li.active {
        margin-top: 200px;
        height: 100px !important;
    }
}